@model ClientDetailWebApp.Models.Client
@{
    ViewBag.Title = "Update the Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post" style="margin: 5% 0 0">
    <h3>Update the following form</h3>
    <table cellpadding="10" cellspacing="10">
        <tr>
            <td>Name</td>
            <td><input type="text" style="margin: 1px 0 2px" name="name" value="@Model.Name" /></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" style="margin: 1px 0 2px" name="address" value="@Model.Address" /></td>
        </tr>
        <tr>
            <td>Trusted</td>
            <td><input type="checkbox" style="margin: 1px 0 2px" name="trusted"
                @if (Model.Trusted) { <text> checked="checked" </text>   } />
            </td>
        </tr>
    </table>
<input type="submit" value="Save" />
</form>

<p>
    @if (ViewBag.Submitted != null && ViewBag.Submitted)
    {
        // If the form was submitted
        @ViewBag.Message
    }
</p>

